
.panel {
position: fixed;
top: 130px;
left: 0;
display: none;
background: #000000;
border:1px solid #111111;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
width: 65px;
height: auto;
padding: 15px 10px 10px  10px;
z-index:990;
font-size:11px;
}



a.trigger{
position: fixed;
text-decoration: none;
top: 85px; left: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 20px;
font-weight: 700;
background:#333333 url(../img/color.png) 85% 55% no-repeat;
border:1px solid #444444;
display: block;
z-index:992;
}

a.trigger:hover{
position: fixed;
text-decoration: none;
top: 85px; left: 0;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 20px 40px 20px 20px;
font-weight: 700;
background:#222222 url(../img/color.png) 85% 55% no-repeat;
border:1px solid #444444;
display: block;
}

a.active.trigger {
background:#222222 url(../img/minus.png) 85% 55% no-repeat;
}




